<h1>Page d'accueil de mon site web</h1>
<p> Menu pour <%= user.nom %> (<%= user.login%>) </p>

<p><a href="../views/listeUsagers.ejs"></a>Afficher tous les usagers</p>
<p><a href="../routes/volumes.js">Ajouter un volume</a></p>
<p><a href="../views/volume.ejs">Afficher la liste des volumes</a></p>
<p><a href="../routes/usagers/logout">se deconnecter</a></p>