<h1>Connexion</h1>

<form action="/usagers/login" method="POST">
    <p>Courriel <input type="text" name="login" id="login"></p>
    <p>Mot de passe <input type="password" name="password" id="pwd"></p>
    <input type="submit" value="Connexion">
</form>